.nav {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav h2 {
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    margin: 20px 0 20px 0;
    padding: 0;
}

.nav img {
    height: 60px;
    width: 60px;
    margin: 20px 0 20px 0;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .nav h2{
        font-size: 30px;
    }
    .nav img{
        width: 45px;
        height: 45px;
    }
  }